
<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mx-2">
    <div class="row mt-3">
      <div class="col-12">
        <%= f.input :name, required: true, label_html: { class: 'text-dark h6' } %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <%= f.input :amount,required: true, label_html: { class: 'text-dark h6' } %>
      </div>
    </div>
  </div>

  <div class="form-actions  mt-3 mx-2">
    <%= f.button :submit, class: "logout-btn" %>
  </div>
<% end %>
