<div class="container-fluid">
  <div class="inside-width greyed-bg">
    <p id="notice"><%= notice %></p>
    <h4 class="text-center nav-head">All Transactions</h4>

    <div class="card mb-2">
      <div class="card-body d-flex justify-content-between rounded-0">
        <span class="h5 text-muted m-0">Total Spent</span>
        <span class="h5 text-dark font-weight-bolder m-0"> $<%= @transaction_sum %></span>
      </div>
    </div>

    <% @transactions.each do |transaction| %>
      <div class="border bg-white mb-3 mt-3 ml-5 mr-5">
        <div class="row no-gutters">
          <div class="col-2 d-flex justify-content-center">
            <span class="border mt-2 mb-3"><i class="fas fa-exchange-alt h4 pt-2 pr-3 pl-3"></i></span>
          </div>

          <div class="col-8 ">
            <div class="card-body mx-0 px-3 py-2">
              <div class= "w-100 align-items-center">
                <span class="card-title h6 text-capitalize text-muted m-0"> <%= transaction.name %></span> <br>
              </div>

              <div class="d-flex mt-1">
                <p class="card-text text-muted mb-0 h6 "><%= transaction.created_at.strftime('%d-%m-%Y') %></p>
              </div>
            </div>
          </div>

          <div class="col-2  d-flex justify-content-center pt-1">
              <span class="card-text h5 text-center mt-3 "> $<%= transaction.amount %></span>
          </div>

        </div>
      </div>
    <% end %>

    <a href="/transactions/new" class='w-100'>
      <div class="d-flex justify-content-center align-items-center logout-btn ml-5 mr-5 new-trans-btn">
        <span class="h6 m-0 py-2">New Transaction</span>
      </div>
    </a>
  </div>
</div>
